@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


header
{
    font-family: "Raleway", "Sans serif";
    font-size: 15px;
    list-style: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header img
{
    width: 15%;
}
nav
{
  display: flex;
  align-items: flex-end;
  justify-content: space-around

}

nav ul
{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
}

nav li
{
    margin-right: 15px;

}


.inscrire a
{
    color: #0065FC !important; /* seul lien en bleu permanent */
    font-weight: bold;
}

body {
    font-family: "Raleway", "Sans serif";
    font-size: 13px;
    list-style: none;
    background-color: white

    /*font page */
}

#bloc_page
{
    width: 1300px;
    margin: auto ;
}

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: black;
}

a:hover /* Apparence au survol des liens */

{
    color: #0065FC;

}

@media screen and (max-width: 768px)
{
    body
    {
        margin: 0px;
        width: 100%;
        box-sizing : border-box;
    }

    h1 h2

    {
        padding-left: 10px;
    }

    #bloc_page
    {
        width: 100%;
    }

    header
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    header img

    {
        width: 30%;
        position: absolute;
    }

    nav
    {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: space-around;
    }

    nav ul
    {
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid #F2F2F2;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 30px;
    }

    nav ul:hover
    {
        border-color: #0065FC
    }

    nav li
    {
        width: 50%;
        display: flex;
        justify-content: center;
    }

}

.recherche
{
    display: flex;
}



.localisation .fas
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color: grey;
    border: 1px #F2F2F2 solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    height: 29px;
    width: 27px;
    margin: 0px;
}
input
{
    background-color: white;
    border: 1px #F2F2F2 solid; 
    height: 27px
}

button i.fas.fa-search
{
    font-size: 0px;
}

.recherche button 
{
    background-color: #0065FC;
    color: white;
    font-family: "Raleway", "Sans serif";
    border: 1px #0065FC solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30px

}

@media screen and (max-width: 768px)
{
    .recherche
    {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    button i.fas.fa-search
    {
        font-size: 15px;
    }
    button
    {
        font-size: 0px;
    }


    .recherche button 
    {
        background-color: #0065FC;
        color: white;
        font-family: "Raleway", "Sans serif";
        border: 1px #0065FC solid;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 30px

    }
}

.filtres
{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}


.filter_button
{
    background-color: white;
    border: 1px #F2F2F2 solid;
    border-radius: 30px;
    color: #0065FC;
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 43px;
}

.filter_button:hover
{
    background-color: #F2F2F2;
}


#filtres button a
{
    display: flex;
    align-items: flex-start;
    color: #0065FC;
}

.filtres a p
{
    font-family: "Raleway", "Sans serif";
    color: black;
    display: flex;
    align-items: center
}

.filter_button .fas /* icone */
{
    background-color: #DEEBFF;
    color: #0065FC;
    border: 1px #F2F2F2 solid;
    border-radius: 50%;
    width: 40px;
    height: 30px;
    margin-right: 20px;
    padding-top: 12px;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.filter_button a
{
    font-size: 15px
}

@media screen and (max-width: 768px)
{
    .filtres
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        padding-top: 25px;
    }

    .filter_button
    {
        margin-bottom: 20px;
        width: auto;

    }

    .information
    {
        width: auto;
    }

}


i.fas.fas-info
{
    display: flex;
}

.information 
{
    display: flex;
    text-align: center;
    align-items:center ;
}
.information .fas
{
    background-color: white;
    color: #0065FC;
    border: 1px #F2F2F2 solid;
    border-radius: 50%; 
    width: 12px;
    margin-right: 2px;
    align-items: center;
    justify-content: center;
}

#section_heg_pop
{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: auto;
}

.bloc_hébergements 
{
    background-color: #F2F2F2;
    border: 1px #F2F2F2 solid;
    border-radius: 10px;
    width: 850px;
    height: 500px
}

.bloc_hébergements h1
{
    padding-left: 25px
}
.hotels
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.bloc_logement
{
    padding: 5px;
    background-color: white;
    border: 1px #F2F2F2 solid;
    border-radius: 10px;
    box-shadow: 6px 6px 6px grey;
    width: 220px; 
    margin-bottom: 10px;
    margin-right: 1px;
}

.bloc_logement img
{
    width: 220px;
    height: 100%;
    max-height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    object-fit: cover;
}

i.fa-star
{
    color: #0065FC;
}

i.grey
{
    color: #F2F2F2 ;
}
/*.bloc_logement a /* bloc logements dans hébergements */

aside h2
{
    display: flex;
    justify-content: space-around;
}

i.fas.fa-chart-line
{
    margin-left: 50px;
}

.bloc_populaires /* bloc populaires */
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border: 1px #F2F2F2 solid;
    border-radius: 10px;
    width: 400px;
    height: 500px;
}

.hotels_pop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: : center
}

.bloc_logement_2 a /* bloc logements dans populaires */
{
    margin: auto;
    padding: 5px;
    display: flex; 
    justify-content: space-around;
    background-color: white;
    border: 1px #F2F2F2 solid;
    border-radius: 10px;
    box-shadow: 6px 6px 6px grey;
    width: 250px;
    height: 100px;
}

.bloc_logement_2
{
    width: 40%;
    height: 130px;
}

.bloc_logement_2 img
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}


@media screen and (max-width: 768px)
{
    #section_heg_pop
    {
        display: flex;
        flex-direction: column;

    }

    aside
    {
        order: -1;
    }

    .bloc_hébergements
    {
        display: flex;
        flex-direction: column;
        background: white;
        border: none;
        width: 100%;
        height: auto;
    }

    .hotels
    {   
        display: flex;
        flex-direction: column;
    }


    .bloc_populaires
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        border-radius: 0px;
        height: auto;
        padding-bottom: 20px;
    }

    .bloc_logement_2
    {
        margin-bottom: 20px;
    }

}



#activités h2 /* bloc lieu activités */
{
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}

#activités 
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px white solid;
    margin-bottom: 50px;

}
.bloc_activité_1 a /* bloc activités portrait */
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 6px grey;
    width: 250px; 
    height: auto
}
.bloc_activité_1 img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 400px;
    object-fit: cover;
}

.bloc_activité_1 p
{
    width: auto;
    margin: 0.25em;
    padding: 0.25em;
}

.colonne_activité
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bloc_activité_2 a /* bloc activités paysage */
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 6px grey;
    width: 250px; 
    height: 200px;
}
.bloc_activité_2 p
{
    width: auto;
    margin: 0.25em;
    padding: 0.25em;
}

.bloc_activité_2 img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    object-fit: cover;
}

@media screen and (max-width: 768px)
{
    #activités
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center; 

    }
    .bloc_activité_1 a
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        box-shadow: 6px 6px 6px grey;
        width: 250px; 
        height: 200px;
    }

    .bloc_activité_1 img
    {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 150px;
        object-fit: cover;
    }

    .bloc_activité_1
    {
        margin-bottom: 20px;
    }

    .bloc_activité_2
    {
        margin-bottom: 20px;
    }


}

footer /* fond footer */
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}

footer ul
{
   list-style-type: none;
}

@media screen and (max-width: 768px)
{
    footer
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
}